*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.lebel{
    background-color: rgb(9, 147, 246);
    width: 14vw;
    margin: auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(0, 110, 255);
    border-radius: 12px;
    padding: 2px;
    margin-left: 868px;
    
}
.lebel h4{
    font-size: 2;
    color: #ffffff;
    font-weight: 2;
    font-family: sans-serif;
    
}

.title{
    /* background-color: red; */
    width: 55vw;
    margin: auto;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h1{
    font-size: 75px;
    font-weight: 59;
}
.card_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gird{
    
    display: grid;
    grid-template-columns: 400px 400px 400px ;
    /* border: solid 2px red; */
    margin: 40px;
    padding: 13px;
    padding-right: 1px;
    gap: 22px;
    /* background-color: gray; */

    
}

.card{
    
    width: 390px;
    height: 400px;
    background-color: rgba(19, 2, 255, 0.519);
    border: solid 1px rgba(50, 45, 45, 0.466);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.inner_card{
    width: 350px;
    height: 360px;
    border-radius: 12px;
    background-color: #ffffff;

}
.image{
    width: 100%;
    height: 200px;
    
}
.image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.card_title h3{
    font-size: 25px;
    margin: 8px;
}
.description p{
    margin: 2px 8px;
    margin-bottom: 10px;
}
.enroll{
    width: 180px;
    height: 38px;
    /* background-color: red; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.enroll button{
    width: 160px;
    height: 35px;
    border: solid 2px rgba(0, 0, 0, 0.164);
    border-radius: 12px;
    font-size: 20px;
    color: white;
    background-color: hwb(206 0% 0% / 0.762);
    cursor: pointer;
}

.enroll button:hover{
    background-color: rgb(81, 0, 255);
    color: rgb(255, 252, 252);

}
.card:hover{
    background-color: rgb(132, 0, 255);
}

@media only screen and (max-width : 505px ){
    .title{
        /* background-color: red; */
        width: 82vw;
        
    }
    .title h1{
        font-size: 9vw;
        margin-bottom: 5px;
    }
    .lebel{
        width: 192px;
        margin: auto;
    }
    .lebel h4{
        font-size: 14px;
        font-weight: 4;
    }
    .gird{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        margin-top: 5px;
        

    }
    .card_container{
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
    }
    .card{
    
        width: 290px;
        height: 310px;
        
        
    }
    .inner_card{
        width: 260px;
        height: 280px;
    }
    .image{
        width: 100%;
        height: 52%;
    }
    .inner_card img{
        height: 100%;
    }
    .inner2{
        width: 100%;
        height: 121px;
        /* background-color: rebeccapurple; */
    }
    .card_title{
        /* background-color: red; */
        width: 100%;
        height: 45px;
    }
    .card_title h3{
        font-size: 19px;
    }
    .description p{
        font-size: 13px;
        
    }
    .enroll{
        /* background-color: #fff; */
        width: 99px;
        height: 25px;
    }
    .enroll button{
        width: 98px;
        height: 26px;
        font-size: 16px;
    }
    

}